/* General Styles */
.home-page {
  background-color: black; /* White background */
  color: white;
  text-align: center; /* Centered text */
  font-family: Arial Light, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black; /* Slightly transparent background */
  padding: 1.4em 0 1.6em 0;
  z-index: 1000; /* Ensures it stays on top of other elements */
  transition: top 0.3s; /* Smooth transition for hiding/showing */
}

.home-page .nav-bar {
  background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent background */
}

/* push the main content down for other pages */
body:not(.home-page) {
  padding-top: 66px;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-bar li {
  padding: 0 10px 0 10px;
}

.nav-bar a {
  font-family: Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  position: relative;
}

/* On hover, expand the underline */
.nav-bar a::after {
  content: "";
  height: 2px;
  background: white;
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 0%;
  transition: all 0.15s;
  transform: translateX(-50%);
  pointer-events: none;
}

.nav-bar a:hover::after {
  width: 100%;
}

/* Title Image Container */
.title-img-container {
  width: 100%; /* Full width of the screen */
  height: 100vh; /* Full height of the viewport */
  position: relative; /* Necessary for positioning the text inside */
  overflow: hidden; /* Ensures the image doesn't overflow */
}

.title-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

/* Overlay styling */
.title-img-container .overlay {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* White text color */
}

.title-img-container .overlay h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding: 0 0 30px 0;
}

.title-img-container .overlay p {
  font-size: 1rem;
  font-weight: lighter;
  margin: 0;
}

/* Rocket Image Container */
.rocket-img-container {
  position: relative;
  height: 100vh;
}

.rocket-img-container img {
  width: 100%;
  height: 100vh;
  filter: brightness(50%);
}

.intro-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white; /* White text color */
  text-align: center;
  width: 80%;
  font-size: 1.5em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Shadow effect */
}

.box {
  width: 100%;
  height: 4em;
}

---

/* General Scroll Content Styling */
.scroll-content {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px; /* Optional space for the bottom image */
  height: 100vh; /* Full viewport height for scrollable area */
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.scroll-section {
  position: relative;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 20px;
  scroll-snap-align: start;
  opacity: 0; /* Make sections invisible by default */
  transition: opacity 1s ease, transform 1s ease;
}

/* Image Classes */
.iss-image,
.spacex-rocket-image,
.mars-image,
.space-data-image {
  flex: 0 0 33.33%; /* Control image width relative to section */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the image fits properly */
  opacity: 0; /* Start hidden */
  transition: opacity 1s ease, transform 1s ease;
}

/* Position the Images */
.iss-image {
  position: absolute;
  max-width: 1000px;
  left: -15%; /* First image on the left */
}

.spacex-rocket-image {
  position: absolute;
  max-width: 400px;
  right: 10%; /* Second image on the right */
}

.mars-image {
  position: absolute;
  max-width: 1000px;
  left: -20%; /* Third image on the left */
}

.space-data-image {
  position: absolute;
  max-width: 600px;
  right: 0;
}

/* Text Content */
.text-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center all children horizontally */
  justify-content: center; /* Center all children vertically */
  text-align: center;
}

.text-content h3 {
  font-size: 1.4em;
}

.text-content p {
  font-size: 1.2em;
  font-weight: lighter;
}

.scroll-section h3,
.scroll-section p {
  opacity: 0;
  transform: translateY(50px); /* Initial hidden with a slide-up effect */
  transition: opacity 1s ease, transform 1s ease;
}

/* Active Section - Make Elements Visible */
.scroll-section.active {
  opacity: 1;
}

.scroll-section.active img,
.scroll-section.active h3,
.scroll-section.active p {
  opacity: 1;
  transform: translateY(0); /* Reveal content */
}

/* Position the Text */
.history-section {
  position: absolute;
  left: 42%;
  padding: 0 8em;
}

.commercial-section {
  position: absolute;
  right: 35%;
  padding: 0 12em;
}

.future-section {
  position: absolute;
  left: 25%;
  padding: 0 16em;
}

.visualizations-section {
  position: absolute;
  right: 35%;
  padding: 0 11em;
}

---

/* Make sure body take full height */
body {
  height: 100%;
  margin: 0; /* Remove default margin */
}

/* Nav Cards Section */
.nav-cards {
  position: relative; /* Positions the video and cards relative to this container */
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width of the viewport */
  overflow: hidden; /* Hide any overflowing content */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Earth image container */
.earth-container {
  position: absolute;
  bottom: 0; /* Align the container to the bottom */
  left: 50%; /* Center it horizontally */
  transform: translateX(
    -50%
  ); /* Adjust the centering since we used left: 50% */
  width: 100%; /* Full width of the container */
  height: 25%; /* Display only the top 25% of the image */
  overflow: hidden; /* Hide the part of the image that goes out of the container */
  z-index: -1; /* Keep the container behind the cards */
}

/* Earth image itself */
.earth {
  position: absolute;
  top: 0; /* Align the top of the image with the top of the container */
  left: 0;
  width: 100%; /* Make the image take up the full width of the container */
  height: auto; /* Maintain aspect ratio */
  transform-origin: center center; /* Set the center of the image as the point of rotation */
  animation: rotate 60s linear infinite; /* Infinite rotation animation */
  object-fit: cover; /* Ensure the image covers the container */
}

/* Rotation animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Row for Cards */
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Vertically center the cards */
  height: 100%; /* Ensure the row spans the full height of .nav-cards */
  gap: 4rem;
  position: relative; /* Keep the cards above the video */
  z-index: 1; /* Keep the row content (cards) on top */
  transform: translateY(-8em); /* Adjust the negative value to shift up */
}

.card {
  perspective: 1000px;
  width: 25vw; /* Adjust the card width */
  height: 55vh; /* Adjust the card height */
  position: relative;
  z-index: 2;
  border-radius: 12px; /* Card styling */
}

/* Card Faces */
.card__side {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Front Side of the Card */
.card__side--front {
  position: relative;
}

/* Back Side of the Card */
.card__side--back {
  transform: rotateY(180deg);
  background: #000; /* Darker black for differentiation */
  color: #fff;
}

/* Card Back Hover Effect */
.card:hover .card__side--back {
  transform: rotateY(0);
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8); /* Adds a glow with matching border radius */
  border-radius: 10px; /* Ensures glow respects card's rounded corners */
}

/* Card Front Hover Effect */
.card:hover .card__side--front {
  transform: rotateY(-180deg);
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8); /* Adds a glow with matching border radius */
  border-radius: 10px; /* Ensures glow respects card's rounded corners */
}

/* Card Image */
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.65);
}

/* Card Title */
.card__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5vw;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 3px 5px rgba(0, 0, 0);
}

/* Card Description */
.card__description {
  font-size: 2vh;
  padding: 0 3rem;
  font-weight: lighter;
  text-align: center;
}

-------------

/* General Formatting*/
.content {
  text-align: center;
}

/* Profile Section */
.profile-row {
  text-align: center; /* Centers the content within the container */
}
.profile-row > div {
  display: inline-block; /* Makes each child behave like an inline element, but with block-level styling */
  vertical-align: top; /* Aligns items at the top */
  margin: 0 1rem; /* Adds spacing between items */
}
.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}
.profile-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: Arial Light, sans-serif;
  font-weight: lighter;
}

/* Footer Bar */
.footer-bar {
  list-style: none;
  margin: 0;
  padding: 1.5em;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 1em;
}
.footer-bar a {
  color: #000000; /* Footer link color */
  text-decoration: none;
}
.footer-bar a:hover {
  color: #cccccc; /* Light gray on hover */
}

/* Page Header */
.page-header {
  padding-bottom: 1em;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bolder;
  font-size: 2.5em; /* Adjust font size as needed */
  margin-top: 1.5em;
}

/* Description Text */
.description-text {
  padding-bottom: 1em;
  width: 65%;
  margin: 0 auto;
  font-family: Arial Light, sans-serif;
  font-weight: lighter;
  font-size: 1.2em; /* Adjust font size as needed */
  line-height: 1.5; /* To add more space between lines for readability */
  text-align: center; /* Centers the text */
}

.description-text {
  padding-bottom: 1em;
  width: 65%;
  margin: 0 auto;
  font-family: Arial Light, sans-serif;
  font-weight: lighter;
}

.data-source {
  padding-bottom: 3em;
  text-align: center;
  font-family: Arial Light, sans-serif;
  font-weight: lighter;
}

.custom-line {
  width: 65%;
  margin: 0 auto; /* Centers the line horizontally */
  border: 0.5px solid #625c5c83; /* Black line, adjust color as needed */
  margin-top: 3em; /* Adds spacing below the line */
}

.figure {
  text-align: center;
  font-family: Arial;
  font-weight: bolder;
  padding-top: 3em;
}

.insights-header {
  text-align: center;
  font-family: Arial;
  font-weight: bolder;
}

.insight-text {
  padding-bottom: 1em;
  width: 65%;
  margin: 0 auto;
  font-family: Arial Light, sans-serif;
  font-weight: lighter;
}

/* Visual Container */
.visual {
  margin: 0 auto;
  padding-bottom: 5em;
}

/* Tableau Placeholder */
.tableauPlaceholder {
  padding-bottom: 1em;
  margin: 0 auto;
}

#viz1733898220967 {
  padding-top: 3em;
}
